<form action="/" method="get">
  <label for="fonte">Filtrar por Fonte:</label>
  <select name="fonte" id="fonte">
    <option value="">Todas</option>
    <%= options_for_select(FEEDS.keys, @fonte) %>
  </select>

  <button type="submit">Filtrar</button>
</form>

<% @noticias.each do |noticia| %>
  <li>
    <h2><a href="<%= noticia[:link] %>"><%= noticia[:titulo] %></a></h2>
    <p><%= noticia[:descricao] %></p>
    <small>
      Fonte: <%= noticia[:fonte] %> |
      Data: <%= noticia[:data] %> 
    </small>
    <% if usuario_logado? %>
      <form action="/favoritar" method="post">
        <input type="hidden" name="titulo" value="<%= noticia[:titulo] %>">
        <input type="hidden" name="link" value="<%= noticia[:link] %>">
        <button type="submit">Favoritar</button>
      </form>
    <% end %>
  </li>
<% end %>